*{
  box-sizing: border-box;
}
body{
  background-color: #171817;
  color:white;
}
main{
  max-width: 360px;
  margin: 30px auto;
}
h1{
  color:white;
  text-align: center;
  font-size: 2.5rem;
  margin: 0;
}

h1 span{
  font-size: 1rem;
}

form{
  margin-top: 10px;
}

form input[type="datetime-local"]{
  color:#777;
}
form input{
  width: 100%;
  background-color: transparent;
  color: white;
  padding:2px 5px ;
  border: 2px solid #30313d;
  border-radius: 5px;
  
}
form div.basic{
  display:flex;
  gap:5px ;
  margin-bottom:5px;
}
form button{
  margin-top: 5px;
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  background-color: #ddd;
}

.transactions{
  margin-top: 15px;
}
.transaction:first-child{
  border-top:0;
}
.transaction{
  display: flex;
  padding:5px 0;
  justify-content:space-between;
  border-top: 1px solid #30313d;
}
.name{
  font-size: 1rem;
}
.description{
  font-size: .7rem;
  color:#888;
}
.right{
  text-align: right;
}
.price-green{
  color:rgb(7, 170, 7);
}
.price-red{
  color:rgb(231, 21, 21);
}
.datetime{
  font-size: .7rem;
  color:#888;
}